.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.IslandDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
    
}

html{
    background-image: url("Hero.jpg");
    height: 100vh;
}

a{
    color:black;
    font-size: 30px;
}