.nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.IslandDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
    
}

.AberrationDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
}

.CenterDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
}

.ragnarokDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.scorchedearthDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.extinctionDinos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.valgueroDinos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

html{
    background-image: url("Hero.jpg");
    height: 100vh;
}

a{
    color:black;
    font-size: 30px;
}